<!DOCTYPE HTML>
<html lang="{{ language }}" class="sidebar-visible no-js {{ defaultTheme }}">
    <head>
        <!-- Book generated using mdBook -->
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {{#if base_url}}
        <base href="{{ base_url }}">
        {{/if}}


        <!-- Custom HTML head -->
        {{!-- {{> head}} --}}

        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff" />

        <link rel="stylesheet" href="{{ pathToRoot }}css/variables.css">
        <link rel="stylesheet" href="{{ pathToRoot }}css/general.css">
        <link rel="stylesheet" href="{{ pathToRoot }}css/chrome.css">
        <link rel="stylesheet" href="{{ pathToRoot }}css/print.css">

        <!-- Fonts -->
        <link rel="stylesheet" href="{{ pathToRoot }}FontAwesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ pathToRoot }}fonts/fonts.css">

        <!-- Highlight.js Stylesheets -->
        <link rel="stylesheet" href="{{ pathToRoot }}highlight.css">
        <link rel="stylesheet" href="{{ pathToRoot }}tomorrow-night.css">
        <link rel="stylesheet" href="{{ pathToRoot }}ayu-highlight.css">

        <!-- Custom theme stylesheets -->
        {{#each additionalCss}}
        <link rel="stylesheet" href="{{ pathToRoot }}{{ this }}">
        {{/each}}

        {{#if mathjaxSupport}}
        <!-- MathJax -->
        <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        {{/if}}
        <script src="./paged.polyfill.js"></script>
    </head>
    <body>
        <!-- Provide site root to javascript -->
        <script type="text/javascript">
            var pathToRoot = "{{ pathToRoot }}";
            var defaultTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "{{ preferred_dark_theme }}" : "{{ defaultTheme }}";
        </script>

        <!-- Work around some values being stored in localStorage wrapped in quotes -->
        <script type="text/javascript">
            try {
                var theme = localStorage.getItem('mdbook-theme');
                var sidebar = localStorage.getItem('mdbook-sidebar');

                if (theme.startsWith('"') && theme.endsWith('"')) {
                    localStorage.setItem('mdbook-theme', theme.slice(1, theme.length - 1));
                }

                if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
                    localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
                }
            } catch (e) { }
        </script>

        <!-- Set the theme before any content is loaded, prevents flash -->
        <script type="text/javascript">
            var theme;
            try { theme = localStorage.getItem('mdbook-theme'); } catch(e) { }
            if (theme === null || theme === undefined) { theme = defaultTheme; }
            var html = document.querySelector('html');
            html.classList.remove('no-js')
            html.classList.remove('{{ defaultTheme }}')
            html.classList.add(theme);
            html.classList.add('js');
        </script>

        <div id="page-wrapper" class="page-wrapper">

            <div class="page">
                
                <div id="content" class="content">
                    <main>
                        <ul class="toc">
                            {{{ toc }}}
                        </ul>
                        {{{ content }}}
                    </main>

                </div>
            </div>
        </div>
    </body>
</html>
